<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>
    {{ 'templates-checkout.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }} 
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header> 
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
    {%- section 'shipping-tooltip' -%}
    {%- section 'checkout-term-popup' -%}
    <script>
      (function($) {
        $(document).on('page:load', function() {
          var payment_icon_afterpay_html = '';
          var payment_icon_stripe_html = '';
          if(Shopify.Checkout.step == 'payment_method') {
            payment_icon_afterpay_html = '<li class="payment-icon payment-icon--afterpay" data-payment-icon="vipps" aria-current="false">'
                              + '<span class="visually-hidden">Afterpay'
                              + '</span>'
                              + '</li>';
            payment_icon_stripe_html = '<li class="payment-icon payment-icon--stripe" data-payment-icon="vipps" aria-current="false">'
                              + '<span class="visually-hidden">Stripe'
                              + '</span>'
                              + '</li>';
          }
          $('.radio-wrapper[data-gateway-group="alternative"] ul').append(payment_icon_afterpay_html);
          $('.radio-wrapper[data-gateway-group="direct"] ul').append(payment_icon_stripe_html);
        });
      })(Checkout.$);
    </script>
    <style>
      .radio-wrapper[data-gateway-group="alternative"] .payment-icon--visa, .radio-wrapper[data-gateway-group="alternative"] .payment-icon--master {
        display: none;
      }
      .payment-icon--afterpay {
        background-image: url({{ 'afterpay-logo-checkout.svg' | asset_url }})
      }
      .payment-icon--stripe {
        background-image: url({{ 'stripe-icon.svg' | asset_url }});
        height: 24px;
        width: 45px;
      }
    </style>
  </body>
</html> 